[submodule "infra/desktops/nixpkgs"]
	path = third_party/github.com/nixos/nixpkgs-channels
	url = https://github.com/NixOS/nixpkgs-channels
[submodule "infra/desktops/home-manager"]
	path = third_party/github.com/rycee/home-manager
	url = https://github.com/rycee/home-manager
[submodule "workshops/unoplatform"]
	path = workshops/unoplatform
	url = https://github.com/unoplatform/workshops.git
[submodule "web/noyaml.com"]
	path = web/noyaml.com
	url = https://github.com/ghuntley/noyaml.git
[submodule "web/covidsafe.watch"]
	path = web/covidsafe.watch
	url = https://github.com/covidsafewatch/website
[submodule "web/emailaddress.github.io"]
	path = web/emailaddress.github.io
	url = https://github.com/emailaddress/emailaddress.github.io.git
[submodule "third_party/github.com/lnl7/nix-docker"]
	path = third_party/github.com/lnl7/nix-docker
	url = https://github.com/LnL7/nix-docker.git
[submodule "third_party/github.com/jgavris/rs-git-fsmonitor"]
	path = third_party/github.com/jgavris/rs-git-fsmonitor
	url = https://github.com/jgavris/rs-git-fsmonitor.git
[submodule "software-consulting-documents"]
	path = third_party/window-shopping/legal-agreements/software-consulting-documents
	url = https://github.com/numtide/software-consulting-documents.git
[submodule "third_party/github.com/kowainik/summoner"]
	path = third_party/window-shopping/haskell/summoner
	url = https://github.com/kowainik/summoner
[submodule "third_party/window-shopping/mu-haskell"]
	path = third_party/window-shopping/haskell/mu-haskell
	url = https://github.com/higherkindness/mu-haskell.git
[submodule "third_party/window-shopping/cake-slayer"]
	path = third_party/window-shopping/haskell/cake-slayer
	url = https://github.com/kowainik/cake-slayer.git
[submodule "third_party/window-shopping/smuggler"]
	path = third_party/window-shopping/haskell/smuggler
	url = https://github.com/kowainik/smuggler.git
[submodule "patterns/nix/jupyter"]
	path = patterns/nix/jupyter
	url = https://github.com/tweag/jupyterWith.git
[submodule "third_party/window-shopping/infra/smtprelay"]
	path = third_party/window-shopping/infra/smtprelay
	url = https://github.com/decke/smtprelay.git
[submodule "patterns/nix/adga"]
	path = patterns/nix/adga
	url = https://github.com/atopuzov/agdastuff
[submodule "third_party/nixpkgs-wsl"]
	path = third_party/nixpkgs-wsl
	url = git@github.com:ghuntley/nixpkgs.git
	branch = wsl
