[submodule "infra/desktops/nixpkgs"]
	path = third_party/github.com/nixos/nixpkgs-channels
	url = https://github.com/NixOS/nixpkgs-channels
[submodule "infra/desktops/home-manager"]
	path = third_party/github.com/rycee/home-manager
	url = https://github.com/rycee/home-manager
[submodule "workshops/unoplatform"]
	path = workshops/unoplatform
	url = https://github.com/unoplatform/workshops.git
[submodule "web/noyaml.com"]
	path = web/noyaml.com
	url = https://github.com/ghuntley/noyaml.git
[submodule "web/covidsafe.watch"]
	path = web/covidsafe.watch
	url = https://github.com/covidsafewatch/website
[submodule "web/emailaddress.github.io"]
	path = web/emailaddress.github.io
	url = https://github.com/emailaddress/emailaddress.github.io.git
[submodule "third_party/github.com/lnl7/nix-docker"]
	path = third_party/github.com/lnl7/nix-docker
	url = https://github.com/LnL7/nix-docker.git
[submodule "third_party/github.com/jgavris/rs-git-fsmonitor"]
	path = third_party/github.com/jgavris/rs-git-fsmonitor
	url = https://github.com/jgavris/rs-git-fsmonitor.git
[submodule "private"]
	path = private
	url = git@github.com:ghuntley/private.git
[submodule "software-consulting-documents"]
	path = third_party/software-consulting-documents
	url = https://github.com/numtide/software-consulting-documents.git
[submodule "third_party/github.com/kowainik/summoner"]
	path = third_party/github.com/kowainik/summoner
	url = https://github.com/kowainik/summoner
