# Copyright (c) 2020 Geoffrey Huntley <ghuntley@ghuntley.com>. All rights reserved.
# SPDX-License-Identifier: Proprietary

name: reviewdog

on: [pull_request]
jobs:

  misspell:
    name: runner / misspell
    runs-on: ubuntu-latest
    steps:
      - name: Check out code.
        uses: actions/checkout@v2.3.4
      - name: misspell
        uses: reviewdog/action-misspell@v1.7.1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          locale: "UK"
